.galleryPic {
    width: 100px;
    height: auto;
    border: 10px solid white;
}

.galleryPic:hover {
    border: 10px solid grey;
}

.galleryDiv {
    position: relative;
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    border: 2px solid black;
}

.bigPic {
    position: relative;
    display: block;
    width: 30%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.bigPic:hover {
    width: 80%;
    height: auto;
}